
body {
    font-family: 'Poppins', sans-serif;
    background-color: purple;
    color: purple;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Inside Out", sans-serif;
}

.mySlides {
    display: none
}

